.odd {
  background-color: rgb(245, 120, 141);
  font-family: Verdana, DejaVu Sans, sans-serif;
}
/* Used by lines 3 & 4 because they both are font-size of 24px*/
.diffont {
  font-size: 24px;
}
#one {
  color: rgb(18, 59, 154);
  font-size: 36px;
}

#two {
  background-color: rgb(36, 162, 72);
  font-weight: bold;
}
